body,html{
    height:100vh;
}
.setContent
{
    height:auto;
    width:1em;
    background-color: black;
    color:white;
    text-align:center;
    border-radius:30px;
    margin:auto;
    margin-top:2em;
}
.setContent.top:hover::before {
    position: absolute;
    top: -1.85em;
    left: -1.2em;
    
    content: attr(data-tooltip)"";
    color: white;
    border-radius: 10px;
    background-color: black;
    border: solid 1px rgb(255, 0, 157);
    font-size: 30px;
}
.setContent.top:hover::after {
    content:'';
    display:block;
    position:absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; 
    border-top:8px solid black;
    left:0.35em;
    top:-0.35em;
}
.setContent.left:hover::before {
    position:absolute;
    top:0em;
    left:-4.58em;
    margin-right:-8px;
    content:attr(data-tooltip)"";
    color:white;
    border-radius:10px;
    background-color: black;
    border:solid 1px rgb(255, 0, 157);
    font-size:30px;
}
.setContent.left:hover::after {
    content:'';
    display:block;
    position:absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-left:8px solid black;
    left:-0.25em;
    top:0.3em;
}
.setContent.right:hover::before {
    position:absolute;
    top:0em;
    left:100%;
    margin-left:8px;
    content:attr(data-tooltip)"";
    color:white;
    border-radius:10px;
    background-color: black;
    border:solid 1px rgb(255, 0, 157);
    font-size:30px;
}
.setContent.right:hover::after {
    content:'';
    display:block;
    
    position:absolute;
    
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent; 
    border-right:8px solid black;
    left:100%;
    
    top:0.3em;
}
.setContent.bottom:hover::before {
    position:absolute;
    top:100%;
    left:-1.2em;
    margin-top: 8px;
    content:attr(data-tooltip)"";
    color:white;
    border-radius:10px;
    background-color: black;
    border:solid 1px rgb(255, 0, 157);
    font-size:30px;
}
.setContent.bottom:hover::after {
    content:'';
    display:block;
    position:absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; 
    border-bottom:8px solid black;
    left:0.35em;
    top:100%;
}

