body,html{
    height:100vh;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(26, 0, 31), rgb(180, 111, 255));
}
.setContent
{
    height:1em;
    width:1em;
    background-color:black;
    color:rgb(180, 111, 255);
    text-align:center;
    margin:auto;
    border-radius:30px;
    margin-top:9em;
    padding:1em;
}
.setContent:hover::before{
    position: absolute;
    min-width:10em;
    box-shadow:.125em .125em .125em black;
    color: white;
    background-color: black;
}
.setContent:hover::after{
    content:'';
    display:block;
    position:absolute;
}
.setContent.top:hover::before{
    bottom:100%;
    left:-100%;
    margin-bottom:.525em;
    content: attr(data-tooltip)"";
}
.setContent.top:hover::after {
    
    border-left: .4em solid transparent;
    border-right: .4em solid transparent; 
    border-top:.4em solid black;
    bottom:100%;
}
.setContent.left:hover::before {
    right:100%;
    top:-100%;
    margin-right:.525em;
    content:attr(data-tooltip)"";
}
.setContent.left:hover::after {
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent; 
    border-left:.4em solid black;
    right:100%;
    top:50%;
}
.setContent.right:hover::before {
    left:100%;
    top:-100%;
    margin-left:.4em;
    content:attr(data-tooltip)"";    
}
.setContent.right:hover::after {
    border-bottom: .4em solid transparent;
    border-top: .4em solid transparent; 
    border-right:.4em solid black;
    left:100%;
    top:50%;
}
.setContent.bottom:hover::before {
    top:100%;
    margin-top: .4em;
    content:attr(data-tooltip)"";
    left:-100%;
}
.setContent.bottom:hover::after {
    border-left: .4em solid transparent;
    border-right: .4em solid transparent; 
    border-bottom:.4em solid black;
    top:100%;
}

